{
  "presets": [
    "react-native",
    "@babel/preset-flow",
    "module:metro-react-native-babel-preset"
  ],
   "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["module-resolver", {
      "root": ["./src", "src/components"],
      "extensions": [".js", ".ios.js", ".android.js"]
    }]
  ]
}